<!DOCTYPE html>
<html>
    <head>
        <title>Django Boyz</title>
    </head>
    <body>
        <header>
            <h1>trap</h1>
        </header>

        <article>
            <h2><a href="https://cdn-img.truckscout24.com/images-big/75/02/020370275_1653043507098_d47ee0.jpg">Trattori</a></h2>
            <p> </p>
            <p>Трактор, трактор куда-то мчится1<br>Трактор, трактор без тракториста<br>Трактор, тракторРабота в поле<br>Трактор, трактор<br>Эх, жизнь - раздолье<br>Ой, лебеда<br>Трактор, трактор<br>Трактор, трактор<br>Хоро-трактор<br>Психо-трактор<br>Трактор - транспорт, мотор, машина<br>От разгона дымятся шины<br>Трактор, трактор<br>За мною в поле<br>Трактор, трактор<br>Эх, жизнь - раздолье<br>Трактор, трактор<br>Трактор, трактор<br>Хоро-трактор<br>Психо-трактор<br>Трактор, трактор<br>Трактор, трактор<br>Хоро-трактор<br>Психо-трактор</p>
        </article>

        <article>
            <h2>Vendita Trattore <a href="https://d1grzqaobpv15j.cloudfront.net/pa/750-560/157563/42715772/42715772_1655107879_781.jpg?index"><em>Deutz-Fahr AGROPLUS 95 NEW</a></em></h2>
            <ul><li>Marca: Prada</li><li>Stato: Grecia</li><li>Potenza: tanti cavalli</li><li>Velocità massima: 4000000cm/h</ul>
        </article>
    </body>
</html>