{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
    <article class="post">
        <time class="date">
            {{ post.data_pubblicazione|date:"D d M Y"  }}
        </time>
        <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.titolo }}</a></h2>
        <p>{{post.testo|truncatewords_html:30}}</p>
    </article>
    {% endfor %}

    <h2>Vendita Trattore <a href="https://pisa.italnolo.it/giardinaggio-pulizia-e-servizi/482-trattore-.html"><em>Deutz-Fahr AGROPLUS 95 NEW</a></em></h2>
    <ul><li>Marca: Prada</li><li>Stato: Grecia</li><li>Potenza: tanti cavalli</li><li>Velocità massima: 4000000cm/h</ul>
    </article>
    <img src="https://pisa.italnolo.it/273-medium_default/trattore-.jpg" alt="trattore pisano">
    
{% endblock %}